<%# クライアントにデータを入力してもらい最後はサンクスページまで誘導する流れ %> 
<form action="/subscribe" method="post">
<label for="name">名前</label>
  <input type="text" name="name" placeholder="Name">
  <label for="email">Email</label>
  <input type="text" name="email" placeholder="Email">
  <label for="zipCode">ZipCode</label>
  <input type="text" name="zipCode" placeholder="zipCode" ><label for="zipCode">ハイフンなし,半角数字</label>
  <input type="submit" name="submit">
</form>