<div class="col-sm-6">
  <img src="images/graph.png" alt="">
</div>
<div class="col-sm-6">
  <h1>購読希望</h1>
  <p>購読をご希望される方は、下記フォームからご登録ください</p>
  <form class="subscription-form" action="/subscribe" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="zipCode" placeholder="Zip Code" pattern="[0-9]{5}">
    <input type="submit" name="submit">
  </form>
</div>
