<div class="col-sm-6">
  <img src="images/fruit.jpg" alt="">
</div>
<div class="col-sm-6">
  <h1>ようこそ！</h1>
  <p> お料理のコースを確認した場合は、 <a href="/courses">ここ</a> をクリックして探してね</p>
  <p> 購読を希望する場合は <a href="/subscribers/new">ここ</a> をクリックしてね </p>
</div>