<h2>Courses Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>ZipCode</th>
    </tr>
  </thead>

  <tbody>
    <!--ビューの中で、コースの配列をループする-->
    <% courses.forEach(course => { %>
    <tr>
      <td> <%= course.fullName %> </td>
      <td> <%= course.email %> </td>
      <td> <%= course.zipCode %> </td>
    </tr>
    <% }); %>
  </tbody>
</table>