<div class="container">
  <div class="col-6">
    <img src="/images/cat.jpg" alt="Error cat">
  </div>
  <div class="col-6">
    <h1>おっと! 何かが間違っていたか、またはお探しのページが利用できません。</h1>
    <p> 
      <a href="/">home!へ行こう！</a>
    </p>
  </div>
</div>
