<div class="col-sm-6">
  <img src="images/fruit.jpg" alt="">
</div>
<div class="col-sm-6">
  <p>ハッシュとソルトの設定でログインまでできるようになったけど、経路のロジックの整理がまだまだできてないわぁ。<br>正直パスの流れを現状はそこまで追求できていない....これは、設計で整理すべき？</p>
  <!-- <p> お料理のコースを確認した場合は、 <a href="/courses">ここ</a> をクリックして探してね</p>
  <p> 購読を希望する場合は <a href="/subscribers/new">ここ</a> をクリックしてね </p> -->
</div>