<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
</head>
<body>
    <!--ユーザのメール送信ページ-->
    <form action="/thanks.html" class="contact-from" method="POST">
        <input type="email" name="email" required>*入力必須<br> <!--required 入力必須-->
        <input type="submit" class="button" value="submit">
    </form>
    <script src="/public/js/index.js"></script>
</body>
</html>