<h2>ユーザー情報一覧</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>ZipCode</th>
    </tr>
  </thead>

  <tbody>
    <!--ビューの中で、ユーザーの配列をループする-->
    <% users.forEach(a => { %> <%# forEachの引数はなんでも良い %> 
    <tr>
      <td> <%= a.fullName %> </td>
      <td> <%= a.email %> </td>
      <td> <%= a.zipCode %> </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%# // 3 (indexの経路)
main.jsの/usersパスを叩くと、 
usersController.jsのindex実行し、
Userに基づき、modelsの設計図を使って、
DBusersにある情報を取得しindex.ejsで指定された情報のみページに表示する。
%> 