<%# body置き換えの共有ページ %>
<header>
  <ul>
    <li class="menu"><a href="http://localhost:3000/courses" class="link">MENU1</a></li>
    <li class="menu"><a href="http://localhost:3000/contact" class="link">MENU2</a></li>
  </ul>
</header>
<%- body %>
<footer>
  <li>site_map</li>
</footer>