<h2>Subscibers Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>ZipCode</th>
    </tr>
  </thead>

  <tbody>
    <!--ビューの中で、購読者の配列をループする-->
    <% subscribers.forEach(subscriber => { %>
    <tr>
      <td> <%= subscriber.fullName %> </td>
      <td> <%= subscriber.email %> </td>
      <td> <%= subscriber.zipCode %> </td>
    </tr>
    <% }); %>
  </tbody>
</table>